<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>couchpotato.workflow</string>
	<key>connections</key>
	<dict>
		<key>0DC824F6-AF83-4CC2-BEE5-208C831C1BA0</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C71CDBD9-842F-4441-8911-A462F1679521</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>29718AC4-DA10-4A9B-B2B1-9380838F591A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C71CDBD9-842F-4441-8911-A462F1679521</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>566E302F-3403-41AB-9664-6180DC4953DC</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>AD7C507A-BC37-41F3-8DA1-A0DC248B15D6</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>6A41E8C9-C532-4FE7-AD69-A78C5C831199</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>29718AC4-DA10-4A9B-B2B1-9380838F591A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>FC76BC27-8BCB-4BEE-AD42-EAC2D9B01F0F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0DC824F6-AF83-4CC2-BEE5-208C831C1BA0</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>RuudBurger</string>
	<key>description</key>
	<string>Easily add movies to CouchPotato</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>CouchPotato</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>36</integer>
				<key>keyword</key>
				<string>couch</string>
				<key>runningsubtext</key>
				<string>Loading results…</string>
				<key>script</key>
				<string>php -f "search.php" -- "{query}"</string>
				<key>subtext</key>
				<string>Search or type a command</string>
				<key>title</key>
				<string>CouchPotato {query}</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>FC76BC27-8BCB-4BEE-AD42-EAC2D9B01F0F</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>couch_set</string>
				<key>subtext</key>
				<string>Example: couch_set http://localhost:5050 _yourapikey_</string>
				<key>text</key>
				<string>CouchPotato Options</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>6A41E8C9-C532-4FE7-AD69-A78C5C831199</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>36</integer>
				<key>script</key>
				<string>php -f "set.php" -- "{query}"</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>29718AC4-DA10-4A9B-B2B1-9380838F591A</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>applescript</key>
				<string>on alfred_script(q)
	tell application "Alfred 2"		search "couch " &amp; q	end tell
end alfred_script</string>
				<key>cachescript</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.applescript</string>
			<key>uid</key>
			<string>AD7C507A-BC37-41F3-8DA1-A0DC248B15D6</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>output</key>
				<integer>0</integer>
				<key>removeextension</key>
				<false/>
				<key>sticky</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>CouchPotato</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>C71CDBD9-842F-4441-8911-A462F1679521</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>subtext</key>
				<string>Search {query} in CouchPotato</string>
				<key>text</key>
				<string>Search CouchPotato for {query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.fallback</string>
			<key>uid</key>
			<string>566E302F-3403-41AB-9664-6180DC4953DC</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>63</integer>
				<key>script</key>
				<string>php -f "add.php" -- "{query}"</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>0DC824F6-AF83-4CC2-BEE5-208C831C1BA0</string>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>0DC824F6-AF83-4CC2-BEE5-208C831C1BA0</key>
		<dict>
			<key>ypos</key>
			<real>130</real>
		</dict>
		<key>29718AC4-DA10-4A9B-B2B1-9380838F591A</key>
		<dict>
			<key>ypos</key>
			<real>250</real>
		</dict>
		<key>566E302F-3403-41AB-9664-6180DC4953DC</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>6A41E8C9-C532-4FE7-AD69-A78C5C831199</key>
		<dict>
			<key>ypos</key>
			<real>250</real>
		</dict>
		<key>AD7C507A-BC37-41F3-8DA1-A0DC248B15D6</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>C71CDBD9-842F-4441-8911-A462F1679521</key>
		<dict>
			<key>ypos</key>
			<real>250</real>
		</dict>
		<key>FC76BC27-8BCB-4BEE-AD42-EAC2D9B01F0F</key>
		<dict>
			<key>ypos</key>
			<real>130</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>https://couchpota.to</string>
</dict>
</plist>
